body {
    font-family: Helvetica;
}
h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}
h3 {
  font-weight: bold;
}
}
.brushes {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}
.frames {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}
.paint {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}
